{% extends 'base_admin.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Tableau de bord</h1>
        {# <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi"><use xlink:href="#calendar3"></use></svg>
            This week
            </button>
        </div> #}
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">Fournisseur</h5>
                    <a href="{{ path('app_fournisseur') }}" class="btn btn-primary">Suivre</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">Commande</h5>
                    <a href="{{ path('admin_commande') }}" class="btn btn-primary">Gérer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">Produit</h5>
                    <a href="{{ path('app_produit') }}" class="btn btn-primary">Découvrir</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
