.sidebar {
    min-height: 100vh;
}

.quantity-container {
    width: 130px;
}

.description-containt{
    width: 180px;
}
.card-content-top{
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px black;
}
.card-descript span{
    color: dimgrey;
    display: block;
    font-size: 11px;
}